.content {
  margin-top: 15%;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.contentInner {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 4px;
}

.buttonWrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.button {
  padding: 0.5rem 1.5rem;
  text-align: left;
  color: #eaeaea;
  text-decoration: none;
  border: 2px solid #1d1d1d;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  font-weight: 600;
  font-size: 1rem;
  background-color: #1d1d1d;
  letter-spacing: 0.3px;
}

.button:last-of-type {
  margin-right: 0;
}

.button.active,
.button:hover,
.button:focus,
.button:active {
  color: #fff;
  border: 2px solid #000;
  outline: none;
  background-color: #000;
}

.option {
  margin-right: 4px;
  &:last-child {
    margin-right: 0;
  }
}
